<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @bill.content %>
</p>

<%= form_for(@response) do |f| if session[:voter_id] %>
  <%= f.hidden_field :bill_id, :value => @bill.id %>
  <%= f.label :vote, "Yes", :value => "true"  %>
  <%= f.radio_button :vote, true %>
  <%= f.label :vote, "No", :value => "false" %>
  <%= f.radio_button :vote, false %>

  <div class="actions">
    <%= f.submit "Submit Vote" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
